<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338076584056-41jjaer0cfo3s1v5783o8r1kuhdma2d4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338076584056-41jjaer0cfo3s1v5783o8r1kuhdma2d4</string>
	<key>API_KEY</key>
	<string>AIzaSyDEnAM2DkOWR1d0Kx-tXUb_rKB1FaoCDF0</string>
	<key>GCM_SENDER_ID</key>
	<string>338076584056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.airrake.flashChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-86caf</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-86caf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338076584056:ios:551a7b7ff2cd612ac6458d</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-86caf.firebaseio.com</string>
</dict>
</plist>